asgiref==3.10.0
bleach==6.2.0
celery==5.5.3
channels[daphne]==4.3.1
channels-redis==4.3.0
chromadb==1.2.1
Django[argon2]==5.2.7
django-axes[ipware]==8.0.0
django-braces==1.17.0
django-celery-beat==2.8.1
django-celerybeat-status==1.0.1
django-cryptography-django5==2.2  # encryption of sensitive data in db
django-embed-video==1.4.10
django-localflavor==5.0
django-parler==2.3
django-redisboard==9.0.0
django-rosetta==0.10.2
django-simple-captcha==0.6.2
Django-taggit==6.1.0
djangorestframework==3.16.1
flower==2.0.1
gunicorn==23.0.0
huggingface_hub==0.36.0
jax[cpu]==0.8.0
keras==3.11.3
keras-cv==0.9.0
langchain==1.0.2
langchain-ollama==1.0.0
langchain-chroma==1.0.0
langchain_community==0.4
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
llama-cpp-python==0.3.16
Markdown==3.9
packaging==25.0
Pillow<13.0.0
postgresml-django==0.1.0 # Integration of PostgresML
psycopg==3.2.11
# pycaret==3.4.0
git+https://github.com/pycaret/pycaret.git
pydantic==2.12.3
pyopenssl==25.3.0
pypdf==6.1.3
pymemcache==4.0.0
python-decouple==3.8
redis==7.0.0
requests==2.32.5
segmentation_models_pytorch==0.5.0
sqlparse==0.5.3
sse_starlette
starlette_context
# syft==0.9.3b2
tensorflow-cpu==2.20.0; sys_platform != 'darwin'
tensorflow; sys_platform == 'darwin'
# tensorflow-text>=2.10.0
tf-models-no-deps==2.19.0; sys_platform != 'darwin'
--extra-index-url https://download.pytorch.org/whl/cu124
torch>=2.8.0,<2.10.0
torchvision>=0.17.0
typing-extensions>=4.12.0
unstructured[local-inference, all-docs]==0.18.15
weasyPrint==66.0
whitenoise==6.11.0
