asgiref==3.8.1
celery==5.4.0
channels[daphne]==4.1.0
django[argon2]==5.0.7
django-celery-beat
django-braces==1.15.0
django-rosetta==0.10.0
Django-taggit==5.0.1
flower==2.0.1
gunicorn==22.0.0
Markdown==3.6
packaging==24.1
pillow==10.4.0
psycopg==3.2.1
pyopenssl==24.1.0
python-decouple==3.8
redis==5.1.0b7
requests==2.32.3
sqlparse==0.5.0
typing-extensions==4.12.2
weasyPrint==62.3
whitenoise==6.7.0
