{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% translate "Log-in" %}{% endblock %}
{% block content %}
    <h1>{% translate "Log-in" %}</h1>
    {% if form.errors %}
        <p>
            {% translate "Your username and password didn't match." %}
            {% translate "Please try again." %}
        </p>
    {% else %}
        <p>
            {% translate "Please, use the following form to log-in." %}
            {% translate "If you don't have an account" %} <a href="{% url "website:register" %}">{% translate "register here" %}</a>.
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'website:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p>
                <input type="submit" value="{% translate "Log-in" %}">
            </p>
        </form>
        <p>
            <a href="{% url "website:password_reset" %}">{% translate "Forgotten your password?" %}</a>
        </p>
    </div>
{% endblock %}