{% load i18n %}
{% load static %}
{% if navbar_detached %}
    <nav class="layout-navbar {{ container_class }} navbar navbar-expand-xl {{ navbar_detached_class }} align-items-center bg-navbar-theme"
         id="layout-navbar">
    {% endif %}
    {# Horizontal layout (navbar not detached) #}
    {% if not navbar_detached %}
        <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme"
             id="layout-navbar">
            <div class="{{ container_class }}">
            {% endif %}
            <!--  Brand demo (display only for navbar-full and hide on below xl) -->
            {% if navbar_full %}
                <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
                    <a href="{% url 'index' %}" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">{% include 'partials/logo.html' with withbg="#696cff" %}</span>
                        <span class="app-brand-text demo menu-text fw-bold text-heading">{% get_theme_variables 'template_name' %}</span>
                    </a>
                    {% if menu_horizontal %}
                        <a href="javascript:void(0);"
                           class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            <!-- ! Not required for layout-without-menu -->
            {% if not navbar_hide_toggle %}
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 {{ menu_horizontal|yesno:'d-xl-none,' }} {{ content_navbar|yesno:'d-xl-none,' }}">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-md"></i>
                    </a>
                </div>
            {% endif %}
            <div class="navbar-nav-right d-flex align-items-center"
                 id="navbar-collapse">
                {% if not menu_horizontal %}
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                        <div class="nav-item navbar-search-wrapper mb-0">
                            <a class="nav-item nav-link search-toggler px-0"
                               href="javascript:void(0);">
                                <i class="bx bx-search bx-md"></i>
                                <span class="d-none d-md-inline-block text-muted fw-normal ms-4">Search (Ctrl+/)</span>
                            </a>
                        </div>
                    </div>
                    <!-- /Search -->
                {% endif %}
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    {% if menu_horizontal %}
                        <!-- Search -->
                        <li class="nav-item navbar-search-wrapper me-2 me-xl-0">
                            <a class="nav-link search-toggler" href="javascript:void(0);">
                                <i class="bx bx-search bx-md"></i>
                            </a>
                        </li>
                        <!-- /Search -->
                    {% endif %}
                    <!-- Language -->
                    <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
                        <a class="nav-link dropdown-toggle hide-arrow"
                           href="javascript:void(0);"
                           data-bs-toggle="dropdown">
                            <i class='bx bx-globe bx-md'></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <li>
                                    <a class="dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                                       href="/{{ language.code }}/"
                                       data-language="{{ language.code }}"
                                       data-text-direction="ltr">{{ language.name_local }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!--/ Language -->
                    {% if has_customizer %}
                        <!-- Style Switcher -->
                        <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
                            <a class="nav-link dropdown-toggle hide-arrow"
                               href="javascript:void(0);"
                               data-bs-toggle="dropdown">
                                <i class='bx bx-md'></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                                        <span><i class='bx bx-sun bx-md me-3'></i>Light</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                                        <span><i class="bx bx-moon bx-md me-3"></i>Dark</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                                        <span><i class="bx bx-desktop bx-md me-3"></i>System</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- / Style Switcher-->
                    {% endif %}
                    <!-- Notification -->
                    <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
                        <a class="nav-link dropdown-toggle hide-arrow"
                           href="javascript:void(0);"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false">
                            <span class="position-relative">
                                <i class="bx bx-bell bx-md"></i>
                                <span class="badge rounded-pill bg-danger badge-dot badge-notifications border"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end p-0">
                            <li class="dropdown-menu-header border-bottom">
                                <div class="dropdown-header d-flex align-items-center py-3">
                                    <h6 class="mb-0 me-auto">Notification</h6>
                                    <div class="d-flex align-items-center h6 mb-0">
                                        <span class="badge bg-label-primary me-2">8 New</span>
                                        <a href="javascript:void(0)"
                                           class="dropdown-notifications-all p-2"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           title="Mark all as read"><i class="bx bx-envelope-open text-heading"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-notifications-list scrollable-container">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <img src="{% static 'img/avatars/1.png' %}" class="rounded-circle" alt="">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">Congratulation Lettie 🎉</h6>
                                                <small class="mb-1 d-block text-body">Won the monthly best seller gold badge</small>
                                                <small class="text-muted">1h ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">Charles Franklin</h6>
                                                <small class="mb-1 d-block text-body">Accepted your connection</small>
                                                <small class="text-muted">12hr ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <img src="{% static 'img/avatars/2.png' %}" class="rounded-circle" alt="">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">New Message ✉️</h6>
                                                <small class="mb-1 d-block text-body">You have new message from Natalie</small>
                                                <small class="text-muted">1h ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <span class="avatar-initial rounded-circle bg-label-success"><i class="bx bx-cart"></i></span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">Whoo! You have new order 🛒</h6>
                                                <small class="mb-1 d-block text-body">ACME Inc. made new order $1,154</small>
                                                <small class="text-muted">1 day ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <img src="{% static 'img/avatars/9.png' %}" class="rounded-circle" alt="">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">Application has been approved 🚀</h6>
                                                <small class="mb-1 d-block text-body">Your ABC project application has been approved.</small>
                                                <small class="text-muted">2 days ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <span class="avatar-initial rounded-circle bg-label-success"><i class="bx bx-pie-chart-alt"></i></span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">Monthly report is generated</h6>
                                                <small class="mb-1 d-block text-body">July monthly financial report is generated</small>
                                                <small class="text-muted">3 days ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <img src="{% static 'img/avatars/5.png' %}" class="rounded-circle" alt="">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">Send connection request</h6>
                                                <small class="mb-1 d-block text-body">Peter sent you connection request</small>
                                                <small class="text-muted">4 days ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <img src="{% static 'img/avatars/6.png' %}" class="rounded-circle" alt="">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">New message from Jane</h6>
                                                <small class="mb-1 d-block text-body">Your have new message from Jane</small>
                                                <small class="text-muted">5 days ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar">
                                                    <span class="avatar-initial rounded-circle bg-label-warning"><i class="bx bx-error"></i></span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="small mb-0">CPU is running high</h6>
                                                <small class="mb-1 d-block text-body">CPU Utilization Percent is currently at 88.63%,</small>
                                                <small class="text-muted">5 days ago</small>
                                            </div>
                                            <div class="flex-shrink-0 dropdown-notifications-actions">
                                                <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="border-top">
                                <div class="d-grid p-4">
                                    <a class="btn btn-primary btn-sm d-flex" href="javascript:void(0);">
                                        <small class="align-middle">View all notifications</small>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--/ Notification -->
                    <!-- User -->
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a class="nav-link dropdown-toggle hide-arrow p-0"
                           href="javascript:void(0);"
                           data-bs-toggle="dropdown">
                            <div class="avatar avatar-online">
                                <!-- Moke condition for displaying user avatar -->
                                {% if request.user|has_group:"admin" %}
                                    <img src="{% static 'img/avatars/1.png' %}"
                                         class="w-px-40 h-auto rounded-circle"
                                         alt="">
                                {% else %}
                                    <img src="{% static 'img/avatars/3.png' %}"
                                         class="w-px-40 h-auto rounded-circle"
                                         alt="">
                                {% endif %}
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'pages:pages-account-settings-account' %}">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar avatar-online">
                                                <!-- Moke condition for displaying user avatar -->
                                                {% if request.user|has_group:"admin" %}
                                                    <img src="{% static 'img/avatars/1.png' %}"
                                                         class="w-px-40 h-auto rounded-circle"
                                                         alt="">
                                                {% else %}
                                                    <img src="{% static 'img/avatars/3.png' %}"
                                                         class="w-px-40 h-auto rounded-circle"
                                                         alt="">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <span class="fw-medium d-block">{{ request.user.username | capfirst }}</span>
                                            {% for group in request.user.groups.all %}<small class="text-muted">{{ group.name | capfirst }}</small>{% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider my-1"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'pages:pages-profile-user' %}">
                                    <i class="bx bx-user bx-md me-3"></i><span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'pages:pages-account-settings-account' %}">
                                    <i class="bx bx-cog bx-md me-3"></i><span>Settings</span>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider my-1"></div>
                            </li>
                            <li>
                                {% if request.user.is_authenticated and request.user.profile.is_verified %}
                                    <span class="dropdown-item d-flex justify-content-between align-content-center">
                                        <span>
                                            <i class='bx bxs-user-circle bx-md me-3'></i>
                                            <span class="align-middle">Verified</span>
                                        </span>
                                        <span class="text-success"><i class='bx bxs-circle bx-md'></i></span>
                                    </span>
                                {% else %}
                                    <!-- verify-email-page -->
                                    <a class="dropdown-item d-flex justify-content-between align-content-center"
                                       href="{% url 'website:index' %}">
                                        <span>
                                            <i class='bx bxs-user-circle bx-md me-3'></i>
                                            <span class="align-middle">Not Verified</span>
                                        </span>
                                        <span class="text-danger"><i class='bx bxs-circle bx-md'></i></span>
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                <form action="{% url 'website:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">
                                        <i class="bx bx-power-off bx-md me-3"></i><span>Log Out</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <!--/ User -->
                </ul>
            </div>
            <!-- Search Small Screens -->
            <div class="navbar-search-wrapper search-input-wrapper {% if menu_horizontal %}{{ container_class }}{% endif %} d-none">
                <input type="text"
                       class="form-control search-input {% if not menu_horizontal %}{{ container_class }}{% endif %} border-0"
                       placeholder="Search..."
                       aria-label="Search...">
                <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
            </div>
            {% if not navbar_detached %}
            </div>
        </nav>
    {% endif %}
    {% if navbar_detached %}</nav>{% endif %}
