{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Share a post" %}{% endblock %}
{% block content %}
    {% if sent %}
        <h1>{% translate "E-mail successfully sent" %}</h1>
        <p>"{{ post.title }}" {% translate "was successfully sent to" %} {{ form.cleaned_data.to }}.</p>
    {% else %}
        <h1>{% translate "Share" %} "{{ post.title }}" {% translate "by e-mail" %}</h1>
        <form method="post" novalidate>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="{% translate "Send e-mail" %}">
        </form>
    {% endif %}
{% endblock %}