{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="AIMER Platform">
        <meta name="keywords"
              content="Artificial Intelligence for Medical Research Platform">
        <meta name="author" content="Smartappli">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <span class="logo">AIMER v2</span>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="language">
                <p>{% translate "language" %}:</p>
                <ul class="languages">
                    {% for language in languages %}
                        <li>
                            <a href="/{{ language.code }}/"
                               {% if language.code == LANGUAGE_CODE %}class="selected"{% endif %}>
                                {{ language.name_local }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == "dashboard" %}class="selected"{% endif %}>
                        <a href="{% url "website:dashboard" %}">{% translate "Dashboard" %}</a>
                    </li>
                    <li {% if section == "images" %}class="selected"{% endif %}>
                        <a href="#">Images</a>
                    </li>
                    <li {% if section == "people" %}class="selected"{% endif %}>
                        <a href="#">People</a>
                    </li>
                </ul>
            {% endif %}
            <span class="user">
                {% if request.user.is_authenticated %}
                    {% translate "Hello" %} {{ request.user.first_name|default:request.user.username }},
                    <form action="{% url "authentication:auth-logout" %}" method="post">
                        <button type="submit">{% translate "Logout" %}</button>
                        {% csrf_token %}
                    </form>
                {% else %}
                    <a href="{% url "authentication:auth-login" %}">{% translate "Log-in" %}</a>
                {% endif %}
            </span>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">w</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            <h2>{% translate "AIMER Blog" %}</h2>
            <p>{% translate "Latest News" %}</p>
        </div>
    </body>
</html>
