{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="description" content="AIMER Platform">
  <meta name="keywords" content="Artificial Intelligence for Medical Research Platform">
  <meta name="author" content="Smartappli">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>AIMER Blog</h2>
    <p>This is my blog</p>
  </div>
</body>
</html>
