{% extends layout_path %}
{% load static %}
{% load i18n %}
{% block title %}
    {% translate "Register" %}
{% endblock %}
{% block vendor_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}
{% block vendor_js %}
    {{ block.super }}
    <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}
{% block page_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}
{% block page_js %}
    {{ block.super }}
    <script src="{% static 'js/pages-auth.js' %}"></script>
{% endblock page_js %}
{% block content %}
    <div class="authentication-wrapper authentication-cover">
        <!-- Logo -->
        <a href="{% url 'website:index' %}"
           class="app-brand auth-cover-brand gap-2">
            <span class="app-brand-logo demo">{% include 'partials/logo.html' with withbg="#696cff" %}</span>
            <span class="app-brand-text demo text-heading fw-bold">{% get_theme_variables 'template_name' %}</span>
        </a>
        <!-- /Logo -->
        <div class="authentication-inner row m-0">
            <!-- /Left Text -->
            <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
                <div class="w-100 d-flex justify-content-center">
                    <img src="{% static 'img/illustrations/girl-with-laptop-' %}{{ COOKIES.style|default:style }}.png"
                         class="img-fluid scaleX-n1-rtl"
                         alt="{% translate "Register image" %}"
                         width="700"
                         data-app-dark-img="illustrations/girl-with-laptop-dark.png"
                         data-app-light-img="illustrations/girl-with-laptop-light.png">
                </div>
            </div>
            <!-- /Left Text -->
            <!-- Register -->
            <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-12 p-6">
                <div class="w-px-400 mx-auto mt-12 pt-5">
                    <h4 class="mb-1">Adventure starts here 🚀</h4>
                    <p class="mb-6">Make your app management easy and fun!</p>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}"
                                 role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <form id="formAuthentication"
                          class="mb-6"
                          action="{% url 'authentication:auth-register' %}"
                          method="post">
                        {% csrf_token %}
                        <div class="mb-6">
                            <label for="username" class="form-label">{% translate "Username" %}</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   name="username"
                                   placeholder="Enter your username"
                                   autofocus>
                        </div>
                        <div class="mb-6">
                            <label for="email" class="form-label">{% translate "Email" %}</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Enter your email">
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password">{% translate "Password" %}</label>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       id="password"
                                       class="form-control"
                                       name="password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-6 mt-8">
                            <div class="form-check mb-8 ms-2">
                                <input class="form-check-input"
                                       type="checkbox"
                                       id="terms-conditions"
                                       name="terms">
                                <label class="form-check-label" for="terms-conditions">
                                    {% translate "I agree to" %}
                                    <a href="javascript:void(0);">{% translate "privacy policy & terms" %}</a>
                                </label>
                            </div>
                        </div>
                        <button id="btnSubmit" class="btn btn-primary w-100" type="submit">
                            <span id="btnText" class="me-1">{% translate "Sign up" %}</span>
                            <span id="btnLoader"
                                  class="spinner-border spinner-border-sm visually-hidden"
                                  role="status"
                                  aria-hidden="true"></span>
                        </button>
                    </form>
                    <p class="text-center">
                        <span>{% translate "Already have an account?" %}</span>
                        <a href="{% url 'authentication:auth-login' %}">
                            <span>{% translate "Sign in instead" %}</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
{% endblock %}
