{% extends "base.html" %}
{% load i18n static %}
{% block title %}
  {% if object %}
    {% translate "Edit course" %} "{{ object.title }}"
  {% else %}
    {% translate "Create a new course" %}
  {% endif %}
{% endblock %}
{% block content %}
  <h1>
    {% if object %}
      {% translate "Edit course" %} "{{ object.title }}"
    {% else %}
      {% translate "Create a new course" %}
    {% endif %}
  </h1>
  <div class="module">
    <h2>Course info</h2>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="{% translate "Save course" %}"></p>
    </form>
  </div>
{% endblock %}
